/**
* COLORS
*/

//PRIMARY :
$dark: #222222;
$white: #FFFFFF;
$purple: #6B75CA;

//SECONDARY :
$lightPurple: #B6BCF2;
$ultraLightPurple: #F0F3F8;

//GRADIENTS :


/**
* FONTS
*/
$font: 'Sofia Pro', sans-serif;


/**
* BREAKPOINTS
*/
$tablet-up: 768px;
$tablet-down: 767px;

$desktop-up: 1200px;
$desktop-down: 1199px;

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}
@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}
@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

/**
* GLOBAL
*/
$headerHeight: 88px;