.menu-title {
  font-weight: bold;
  font-size: rem(12px);
  color: $lightPurple;
  text-transform: uppercase;

  &.is-clicked {
    color: $purple;
  }
}

.menu-subtitle {
  font-weight: bold;
  font-size: rem(9px);
  color: $lightPurple;
  text-transform: uppercase;

  &.is-clicked {
    color: $purple;
  }
}

.dashboard-title {
  font-weight: bold;
  font-size: rem(18px);
  color: $black;
}

.card-title {
  font-weight: bold;
  font-size: rem(14px);
  color: $black;
  text-transform: capitalize;
}

.card-count,
.card-data {
  font-size: rem(12px);
  font-weight: normal;
  text-transform: lowercase;

  span {
    font-size: rem(16px);
    font-weight: bold;
  }
}

.button-text {
}
