/**
* COLORS
*/

//PRIMARY :
$dark: #222222;
$white: #FFFFFF;
$purple: #6B75CA;
$lightPurple: #B6BCF2;
$ultraLightPurple: #F0F3F8;

//SPORT COLORS :
$shoot: #D29B85;
$team: #64E0B9;
$water: #95E1EC;
$athletics: #F4C61E;
$gym: #F3A2A2;
$fight: #2C3950;
$racket: #E972DD;


//GRADIENTS :
$gradient: linear-gradient(90deg, #6B75CA 0%, rgba(240, 243, 248, 0) 100%);

/**
* FONTS
*/
$font: 'Sofia Pro', sans-serif;

/**
* BREAKPOINTS
*/
$tablet-up: 768px;
$tablet-down: 767px;

$desktop-up: 1200px;
$desktop-down: 1199px;

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}
@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}
@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

/**
* GLOBAL
*/
$headerHeight: 50px;