// GLOBAL
@import 'global/_reset.scss';
@import 'global/_utilities.scss';
@import 'global/_variables.scss';
@import 'global/_fonts.scss';
@import 'global/_typography.scss';

// COMPONENTS
// @import 'components/_hostel.scss';
// @import 'components/_menu.scss';
@import 'components/_sport.scss';

// TEMPLATES
@import 'templates/_menu.scss';
@import 'templates/_map.scss';
@import 'templates/_dashboard.scss';

// PAGES
@import 'pages/_guide.scss';
@import 'pages/_homepage.scss';

body {
  font-family: $font;
  color: $purple;
  overflow-x: hidden;
  background-color: $ultraLightPurple;
}

// .content-wrapper {
//   margin: 0 auto;
//   padding: 0 20px;
//   width: 100vw;
//   max-width: 1024px;
// }