.sport {

  &__icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &__title {
    margin: 10px 0;
    font-size: rem(9px);
    text-transform: uppercase;
  }
}