.cards {
  // display: grid;
  // grid-template-columns: repeat(2, 260px);
  // grid-template-rows: repeat(2, 100px) auto repeat(2, 100px);
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;
  // height: calc(100vh - 40px - 10px); // 100vh - $headerHeight - margin grid

  display: grid;
  grid-template-columns: repeat(2, 260px);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: calc(100vh - 40px - 10px); // 100vh - $headerHeight - margin grid
}