.tuto {
  background-color: $lightPurple;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &:hover {
    background-color: $purple;
  }

  .icon {
    height: 24px;
    width: 32px;
    fill: $white;
  }
}