<!DOCTYPE html>
<html lang="en">
<head>
    <title>PARICI</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Parici, the webapp to organize your trip during 2024 Olympic games in Paris">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    {# FAVICON #}
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    {# <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"> #}

    {% block css %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
{# {% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %} #}

{% block content %}
    {# Sorry, no content #}
{% endblock %}

{# {% block footer %}
    FOOTER
    {# {% include 'partial/footer.twig' %} #}
{# {% endblock %} #}

{% block js %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>