<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>PARIS JO</title>   
        <meta charset="UTF-8" />
        <meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        
        {# FAVICON #}
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
        {# <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"> #}
        
        {# SVG #}
        <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
        <symbol id="icon-bar" viewBox="0 0 37 32">
        <title>bar</title>
        <path d="M26.039 17.427h-4.98c-1.363 0-2.471 1.108-2.471 2.471v3.819c0 1.363 1.108 2.471 2.471 2.471h4.98c1.363 0 2.471-1.108 2.471-2.471v-3.819c0-1.363-1.108-2.471-2.471-2.471zM26.713 23.717c0 0.374-0.307 0.674-0.674 0.674h-4.98c-0.374 0-0.674-0.307-0.674-0.674v-3.819c0-0.374 0.307-0.674 0.674-0.674h4.98c0.374 0 0.674 0.307 0.674 0.674v3.819z"></path>
        <path d="M36.651 10.484c0-0.157-0.037-0.307-0.12-0.442l-5.452-9.586c-0.157-0.277-0.457-0.457-0.779-0.457h-23.957c-0.322 0-0.622 0.172-0.779 0.457l-5.444 9.586c-0.075 0.135-0.12 0.285-0.12 0.442 0 2.149 1.296 3.992 3.145 4.808v15.809c0 0.494 0.404 0.899 0.899 0.899h4.965c0.008 0 0.015 0 0.022 0h6.965c0.008 0 0.015 0 0.022 0h16.58c0.494 0 0.899-0.404 0.899-0.899v-15.697c0-0.037 0-0.067-0.008-0.097 1.857-0.816 3.16-2.666 3.16-4.823zM6.867 1.805h22.909l4.261 7.496h-31.423l4.254-7.496zM26.084 11.091c-0.285 1.618-1.7 2.846-3.4 2.846s-3.115-1.228-3.4-2.846h6.8zM17.374 11.091c-0.285 1.618-1.7 2.846-3.4 2.846s-3.115-1.228-3.407-2.846h6.807zM1.857 11.091h6.807c-0.285 1.618-1.707 2.846-3.407 2.846-1.7 0.008-3.115-1.228-3.4-2.846zM15.098 30.203h-5.167v-9.698c0-0.704 0.569-1.281 1.281-1.281h2.614c0.704 0 1.281 0.569 1.281 1.281v9.698h-0.008zM31.7 30.203h-14.806v-9.698c0-1.692-1.378-3.078-3.078-3.078h-2.614c-1.692 0-3.078 1.378-3.078 3.078v9.706h-3.183v-14.476c0.105 0.008 0.21 0.008 0.315 0.008 1.812 0 3.415-0.921 4.359-2.322 0.944 1.4 2.546 2.322 4.359 2.322s3.407-0.921 4.359-2.322c0.944 1.4 2.546 2.322 4.351 2.322 1.812 0 3.407-0.921 4.351-2.322 0.944 1.4 2.546 2.322 4.359 2.322 0.105 0 0.202-0.008 0.307-0.008v14.469zM31.393 13.944c-1.7 0-3.115-1.228-3.4-2.846h6.807c-0.292 1.61-1.707 2.846-3.407 2.846z"></path>
        </symbol>
        <symbol id="icon-sports" viewBox="0 0 33 32">
        <title>sports</title>
        <path d="M18.563 2c0-1.1-0.928-2-2.063-2s-2.063 0.9-2.063 2v18h-2.063v4h2.063v6c0 1.1 0.928 2 2.063 2s2.063-0.9 2.063-2v-6h2.063v-4h-2.063v-18zM6.188 2c0-1.1-0.928-2-2.063-2s-2.063 0.9-2.063 2v10h-2.063v4h2.063v14c0 1.1 0.928 2 2.063 2s2.063-0.9 2.063-2v-14h2.063v-4h-2.063v-10zM33 8h-2.063v-6c0-1.1-0.928-2-2.063-2s-2.063 0.9-2.063 2v6h-2.063v4h2.063v18c0 1.1 0.928 2 2.063 2s2.063-0.9 2.063-2v-18h2.063v-4z"></path>
        </symbol>
        <symbol id="icon-home" viewBox="0 0 32 32">
        <title>home</title>
        <path d="M16 0l-16 16h4v16h24v-16h4l-16-16zM24 28h-6v-6h-4v6h-6v-14.344l8-5.656 8 5.656v14.344z"></path>
        </symbol>
        <symbol id="icon-hostel" viewBox="0 0 32 32">
        <title>hostel</title>
        <path d="M16.31 24.922h-0.62c-0.347 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.347 0 0.627-0.281 0.627-0.627v-1.412c0-0.346-0.281-0.627-0.627-0.627z"></path>
        <path d="M16.31 19.297h-0.62c-0.347 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.347 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M16.31 13.672h-0.62c-0.347 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.347 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M16.31 8.047h-0.62c-0.347 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.347 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M20.977 24.922h-0.62c-0.346 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.347 0 0.627-0.281 0.627-0.627v-1.412c0-0.346-0.281-0.627-0.627-0.627z"></path>
        <path d="M20.977 19.297h-0.62c-0.346 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.347 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M20.977 13.672h-0.62c-0.346 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.347 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M20.977 8.047h-0.62c-0.346 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.347 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M11.643 24.922h-0.62c-0.347 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.346 0 0.627-0.281 0.627-0.627v-1.412c0-0.346-0.281-0.627-0.627-0.627z"></path>
        <path d="M11.643 19.297h-0.62c-0.347 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.346 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M11.643 13.672h-0.62c-0.347 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.346 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M11.643 8.047h-0.62c-0.347 0-0.627 0.281-0.627 0.627v1.412c0 0.347 0.281 0.627 0.627 0.627h0.62c0.346 0 0.627-0.281 0.627-0.627v-1.412c0-0.347-0.281-0.627-0.627-0.627z"></path>
        <path d="M29.469 28.616c0-0.281 0.19-0.523 0.447-0.635 1.225-0.536 2.084-1.759 2.084-3.179 0-0.489-0.146-1.376-1.405-3.418-0.647-1.048-1.284-1.908-1.311-1.944l-0.249-0.335c-0.251-0.337-0.756-0.337-1.007 0l-0.249 0.335c-0.027 0.036-0.665 0.896-1.311 1.944-0.149 0.242-0.541 0.137-0.541-0.146v-16.881c0-0.347-0.281-0.627-0.627-0.627h-1.078c-0.346 0-0.627-0.281-0.627-0.627v-2.474c0-0.347-0.281-0.627-0.627-0.627h-13.931c-0.347 0-0.627 0.281-0.627 0.627v2.474c0 0.347-0.281 0.627-0.627 0.627h-1.078c-0.346 0-0.627 0.281-0.627 0.627v16.881c0 0.284-0.392 0.388-0.541 0.146-0.647-1.048-1.284-1.908-1.311-1.944l-0.249-0.335c-0.251-0.337-0.756-0.337-1.007 0l-0.249 0.335c-0.027 0.036-0.664 0.896-1.311 1.944-1.26 2.042-1.405 2.928-1.405 3.417 0 1.421 0.859 2.643 2.084 3.179 0.258 0.113 0.447 0.354 0.447 0.635v0.881c0 0.347-0.281 0.627-0.627 0.627h-1.276c-0.347 0-0.627 0.281-0.627 0.627v0.62c0 0.347 0.281 0.627 0.627 0.627h30.745c0.347 0 0.627-0.281 0.627-0.627v-0.62c0-0.347-0.281-0.627-0.627-0.627h-1.276c-0.347 0-0.627-0.281-0.627-0.627v-0.881zM1.875 24.802c0-0.401 0.464-1.345 1.085-2.368 0.234-0.384 0.783-0.384 1.017 0 0.622 1.023 1.085 1.966 1.085 2.368 0 0.879-0.715 1.594-1.594 1.594s-1.594-0.715-1.594-1.594zM6.074 29.498c0 0.347-0.281 0.627-0.627 0.627h-0.413c-0.347 0-0.627-0.281-0.627-0.627v-0.912c0-0.263 0.182-0.49 0.424-0.594 0.497-0.213 1.244 0.112 1.244 0.652v0.854zM10.282 2.502c0-0.347 0.281-0.627 0.627-0.627h10.181c0.347 0 0.627 0.281 0.627 0.627v0.599c0 0.347-0.281 0.627-0.627 0.627h-10.181c-0.346 0-0.627-0.281-0.627-0.627v-0.599zM24.051 29.498c0 0.347-0.281 0.627-0.627 0.627h-14.848c-0.347 0-0.627-0.281-0.627-0.627v-23.266c0-0.347 0.281-0.627 0.627-0.627h14.848c0.347 0 0.627 0.281 0.627 0.627v23.266zM27.594 29.498c0 0.347-0.281 0.627-0.627 0.627h-0.413c-0.347 0-0.627-0.281-0.627-0.627v-0.854c0-0.541 0.747-0.865 1.244-0.652 0.241 0.103 0.424 0.331 0.424 0.594v0.912zM26.937 24.802c0-0.401 0.464-1.345 1.085-2.368 0.234-0.384 0.783-0.384 1.017 0 0.622 1.023 1.085 1.966 1.085 2.368 0 0.879-0.715 1.594-1.594 1.594s-1.594-0.715-1.594-1.594z"></path>
        </symbol>
        <symbol id="icon-infos" viewBox="0 0 16 32">
        <title>infos</title>
        <path d="M2 16c1.105 0 2 0.895 2 2v8c0 1.105-0.895 2-2 2h-2v4h16v-4h-1.992c-1.102 0-2.008-0.895-2.008-2l-0.004-14h-11.996v4h2zM4 4c0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.209-1.791 4-4 4s-4-1.791-4-4z"></path>
        </symbol>
        <symbol id="icon-monument" viewBox="0 0 17 32">
        <title>monument</title>
        <path d="M8.125 25.75c0.345 0 0.625-0.28 0.625-0.625s-0.28-0.625-0.625-0.625c-0.345 0-0.625 0.28-0.625 0.625s0.28 0.625 0.625 0.625z"></path>
        <path d="M0.625 32h3.75c0.345 0 0.625-0.28 0.625-0.625 0-1.723 1.402-3.125 3.125-3.125s3.125 1.402 3.125 3.125c0 0.345 0.28 0.625 0.625 0.625h3.75c0.209 0 0.404-0.104 0.52-0.278s0.137-0.394 0.057-0.587c-1.426-3.424-2.27-5.443-2.496-5.995l1.217-2.213c0.106-0.194 0.103-0.429-0.009-0.619s-0.317-0.307-0.538-0.307h-1.836c-0.475-1.425-0.888-2.882-1.231-4.342l1.127-2.253c0.097-0.194 0.086-0.424-0.027-0.608s-0.315-0.296-0.532-0.296h-1.201c-0.398-2.424-0.637-5.233-0.67-7.875 0.191-0.001 0.371-0.090 0.489-0.24s0.16-0.349 0.114-0.536l-0.625-2.5c-0.069-0.278-0.319-0.473-0.606-0.473h-0.625v-2.25c0-0.345-0.28-0.625-0.625-0.625s-0.625 0.28-0.625 0.625v2.25h-0.625c-0.287 0-0.537 0.195-0.606 0.473l-0.625 2.5c-0.047 0.187-0.005 0.385 0.114 0.536 0.118 0.15 0.298 0.239 0.489 0.24-0.033 2.642-0.272 5.451-0.67 7.875h-1.201c-0.217 0-0.418 0.112-0.532 0.296s-0.124 0.414-0.027 0.608l1.127 2.253c-0.343 1.46-0.756 2.917-1.231 4.342h-1.836c-0.221 0-0.426 0.117-0.538 0.307s-0.116 0.426-0.010 0.619l1.217 2.213c-0.185 0.45-1.198 2.878-2.497 5.995-0.080 0.193-0.059 0.413 0.057 0.587s0.311 0.278 0.52 0.278zM7.363 4.125h1.524l0.313 1.25h-2.149l0.313-1.25zM7.496 6.625h1.258c0.032 2.634 0.265 5.433 0.655 7.875h-2.567c0.389-2.442 0.623-5.241 0.655-7.875zM10.864 15.75l-0.625 1.25h-4.228l-0.625-1.25h5.478zM6.087 18.25h4.076c0.304 1.26 0.659 2.516 1.060 3.75h-1.223v-0.625c0-1.034-0.841-1.875-1.875-1.875s-1.875 0.841-1.875 1.875v0.625h-1.223c0.4-1.234 0.755-2.49 1.060-3.75zM7.5 22v-0.625c0-0.345 0.28-0.625 0.625-0.625s0.625 0.28 0.625 0.625v0.625h-1.25zM3.645 25.75h1.98c0.345 0 0.625-0.28 0.625-0.625s-0.28-0.625-0.625-0.625h-2.005l-0.688-1.251c1.334 0 8.802 0 10.386 0l-0.688 1.251h-2.005c-0.345 0-0.625 0.28-0.625 0.625s0.28 0.625 0.625 0.625h1.98c0.182 0.439 1.496 3.592 2.082 5h-2.233c-0.304-2.117-2.129-3.75-4.33-3.75s-4.025 1.633-4.33 3.75h-2.233c0.795-1.908 1.892-4.54 2.083-5z"></path>
        </symbol>
        <symbol id="icon-tree" viewBox="0 0 32 32">
        <title>tree</title>
        <path d="M31.063 28.187c0.518 0 0.636-0.5 0.636-1.018s-0.118-0.857-0.636-0.857h-0.938v-2.813c0-0.518-0.42-0.938-0.937-0.938h-5.688c-0.518 0-0.938 0.42-0.938 0.938v2.813h-0.937c-0.518 0-0.795 0.34-0.795 0.857s0.277 1.018 0.795 1.018h0.937v1.938h-3.75v-4.349c3.274-1.29 5.625-4.765 5.625-8.839 0-2.314-0.751-4.504-2.125-6.22 0.168-0.763 0.25-1.492 0.25-2.217 0-4.687-2.944-8.5-6.562-8.5-1.362 0-2.67 0.532-3.765 1.515-1.061-0.955-2.348-1.515-3.735-1.515-3.619 0-6.563 3.813-6.563 8.5 0 0.724 0.082 1.454 0.249 2.216-1.414 1.755-2.187 3.945-2.187 6.222 0 4.083 2.379 7.563 5.688 8.847v4.341h-4.75c-0.518 0-0.636 0.452-0.636 0.969s0.118 0.906 0.636 0.906h30.125c0.518 0 0.636-0.388 0.636-0.906s-0.118-0.969-0.636-0.969h-0.938v-1.938h0.938zM24.438 24.438h3.813v1.875h-3.813v-1.875zM16.937 30.125h-1.875v-3.871c0.31 0.038 0.623 0.059 0.937 0.059 0.317 0 0.63-0.020 0.937-0.058v3.871zM12.246 25.336c0.306 0.168 0.62 0.315 0.941 0.441v4.348h-1.875v-4.349c0.321-0.126 0.632-0.273 0.934-0.44zM19.224 3.724c0.944 1.272 1.463 2.969 1.463 4.776 0 1.121-0.23 1.87-0.308 2.25-0.173 0.842-0.628 1.792-1.152 2.491-0.311 0.414-0.227 1.002 0.188 1.313 0.417 0.313 1.004 0.224 1.312-0.188 0.318-0.424 0.601-0.892 0.843-1.393 0.646 1.178 0.992 2.54 0.992 3.964 0 4.136-2.944 7.5-6.562 7.5-0.692 0-1.378-0.126-2.030-0.368 1.815-1.721 2.967-4.28 2.967-7.132 0-2.314-0.751-4.504-2.125-6.22 0.168-0.763 0.25-1.492 0.25-2.217 0-2.125-0.605-4.071-1.604-5.562 0.757-0.689 1.64-1.063 2.542-1.063 1.195 0 2.34 0.657 3.224 1.849zM1.875 16.937c0-1.41 0.365-2.778 1.047-3.979 0.244 0.506 0.529 0.979 0.85 1.407 0.309 0.412 0.896 0.5 1.313 0.188 0.414-0.311 0.498-0.898 0.188-1.313-0.491-0.654-0.876-1.45-1.126-2.319-0.010-0.256-0.334-1.113-0.334-2.422 0-1.808 0.52-3.504 1.463-4.776 0.884-1.192 2.029-1.849 3.224-1.849s2.34 0.656 3.224 1.849c0.944 1.272 1.463 2.969 1.463 4.776 0 0.205-0.009 0.411-0.026 0.618-1.369-1.012-2.976-1.556-4.662-1.556-0.518 0-0.937 0.42-0.937 0.937s0.42 0.938 0.937 0.938c1.716 0 3.336 0.752 4.568 2.119 0.008 0.009 0.015 0.018 0.023 0.027 1.271 1.424 1.972 3.325 1.972 5.354 0 4.136-2.944 7.5-6.563 7.5-3.702 0-6.625-3.422-6.625-7.5zM7.563 26.255c0.308 0.038 0.621 0.057 0.937 0.057s0.63-0.020 0.938-0.058v3.871h-1.875v-3.87zM28.25 30.125h-3.813v-1.938h3.813v1.938z"></path>
        </symbol>
        </defs>
        </svg>
        
        {% block css %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        {# {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %} #}

        {% block content %}
            {# Sorry, no content #}
s        {% endblock %}

        {# {% block footer %}
            FOOTER
            {# {% include 'partial/footer.twig' %} #}
        {# {% endblock %} #}

        {% block js %}
            {{ encore_entry_script_tags('app') }}
            {# {{ source('/public/assets/icons/symbol-defs.svg') }} #}
            {# <script defer src="node_modules/svgxuse/svgxuse.js"></script> #}
        {% endblock %}
    </body>
</html>
